<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hn.jepz.www.yugiohlifecounter" >

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/i_ylc"
        android:theme="@style/AppTheme"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.PartidaProvider"
            android:authorities="hn.jepz.www.yugiohlifecounter" />

        <activity
            android:name=".MonedaActivity"
            android:label="@string/title_activity_moneda"
            android:theme="@style/Theme.AppCompat.Dialog" >
        </activity>
        <activity
            android:name=".DadoActivity"
            android:label="@string/title_activity_dado"
            android:theme="@style/Theme.AppCompat.Dialog" >
        </activity>
        <activity
            android:name=".LogActivity"
            android:label="@string/title_activity_log"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hn.jepz.www.yugiohlifecounter.MainActivity" />
        </activity>

        <service android:name=".BroadcastCountDownService" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/ThemeLight"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hn.jepz.www.yugiohlifecounter.MainActivity" />
        </activity>
    </application>

</manifest>
